<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientNavbar</servlet-name>
        <servlet-class>servlet.ClientNavbar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Formulario</servlet-name>
        <servlet-class>servlet.Formulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalle</servlet-name>
        <servlet-class>servlet.Detalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarInforme</servlet-name>
        <servlet-class>servlet.GenerarInforme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaIncidencia</servlet-name>
        <servlet-class>servlet.NuevaIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciasClienteAbiertas</servlet-name>
        <servlet-class>servlet.IncidenciasClienteAbiertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioCliente</servlet-name>
        <servlet-class>servlet.InicioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciasClienteCerradas</servlet-name>
        <servlet-class>servlet.IncidenciasClienteCerradas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioTecnico</servlet-name>
        <servlet-class>servlet.InicioTecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciasCerradasTecnico</servlet-name>
        <servlet-class>servlet.IncidenciasCerradasTecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciasAsignadasTecnico</servlet-name>
        <servlet-class>servlet.IncidenciasAsignadasTecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSupervisor</servlet-name>
        <servlet-class>servlet.InicioSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciasAbiertas</servlet-name>
        <servlet-class>servlet.IncidenciasAbiertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciasCerradas</servlet-name>
        <servlet-class>servlet.IncidenciasCerradas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciaPorTecnico</servlet-name>
        <servlet-class>servlet.IncidenciaPorTecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidenciaPorUsuario</servlet-name>
        <servlet-class>servlet.IncidenciaPorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancelar</servlet-name>
        <servlet-class>servlet.Cancelar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTecnicos</servlet-name>
        <servlet-class>servlet.ListaTecnicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarTecnico</servlet-name>
        <servlet-class>servlet.AsignarTecnico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientNavbar</servlet-name>
        <url-pattern>/ClientNavbar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Formulario</servlet-name>
        <url-pattern>/Formulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalle</servlet-name>
        <url-pattern>/Detalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarInforme</servlet-name>
        <url-pattern>/GenerarInforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaIncidencia</servlet-name>
        <url-pattern>/NuevaIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciasClienteAbiertas</servlet-name>
        <url-pattern>/IncidenciasClienteAbiertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioCliente</servlet-name>
        <url-pattern>/InicioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciasClienteCerradas</servlet-name>
        <url-pattern>/IncidenciasClienteCerradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioTecnico</servlet-name>
        <url-pattern>/InicioTecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciasCerradasTecnico</servlet-name>
        <url-pattern>/IncidenciasCerradasTecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciasAsignadasTecnico</servlet-name>
        <url-pattern>/IncidenciasAsignadasTecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSupervisor</servlet-name>
        <url-pattern>/InicioSupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciasAbiertas</servlet-name>
        <url-pattern>/IncidenciasAbiertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciasCerradas</servlet-name>
        <url-pattern>/IncidenciasCerradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciaPorTecnico</servlet-name>
        <url-pattern>/IncidenciaPorTecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidenciaPorUsuario</servlet-name>
        <url-pattern>/IncidenciaPorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancelar</servlet-name>
        <url-pattern>/Cancelar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTecnicos</servlet-name>
        <url-pattern>/ListaTecnicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarTecnico</servlet-name>
        <url-pattern>/AsignarTecnico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
